
*{
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  padding: 0;
}

main {
  flex-grow: 1;
}

.row {
  width: 100%;
}

.header{
    display: flex;
    margin: 10px 0 2rem 0;
}

.header-login-btn{
  margin-top: 2rem;
  align-items: center;
}

.logo_img{
  width: 250px;
}

.header-login-btn{
    display: flex;
    align-items: start;
    justify-content: flex-end;
}

.button{
  margin-left: 1rem;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

th {
  font-weight: bold;
}

.feather {
  cursor: pointer;
}

.feather-x-octagon {
  color: red;
}

.feather-edit {
  color: #9b4dca;
}