.header{
    height: 10rem;
    display: flex;
}

.logo{
    display:flex;
    align-items: center;
}

.header-login-btn{
    display: flex;
    align-items: start;
    justify-content: flex-end;
}

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
  margin-left: 1rem;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

.feather {
  cursor: pointer;
  margin-left: 6px;
}

.feather-x-octagon {
  color: red;
}

.feather-edit {
  color: #9b4dca;
}