th {
  font-weight: bold;
}

td {
  align-items: center;
  font-size: 14px;
  line-height: 10px;
}

.td-user-tickets, .td-user-tickets-number{
  text-align: center;
}

.clickable-row {
  cursor: pointer;
  
}

.clickable-row:hover {
  background-color: #9b4dca20;
}

.clickable-row-id {
  text-align: center;
}

.form-button {
  margin-right: 8px;
}

.badge-urgent,
.badge-high,
.badge-normal,
.badge-low {
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
}

.badge-urgent {
  background-color: red;
}

.badge-normal {
  background-color: blue;
}

.badge-low {
  background-color: green;
}

.badge-high {
  background-color: orange;
}

.badge-small {
  font-size: 16px;
}


